.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: min-content 1fr min-content;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
}

.cards > ul > li {
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin: 0;
  padding: 0;
}

/* Card Header */
.cards .cards-card-header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 3rem 3rem 0;
}

.cards .cards-card-title {
  line-height: 1;
  font-weight: 600;
}

.cards .cards-card-title * {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

.cards .cards-card-content {
  margin: 0;
  padding: 0 3.5rem;
}

.cards .cards-card-content > .cards-card-body:last-child p:last-child {
  margin-bottom: 0;
}

.cards .cards-accent-bar {
  position: relative;
  height: 0.35rem;
  background-color: #d1dbd1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 8rem;
}

.cards .cards-accent-fill {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #0e4343;
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cards .cards-card-body p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}

.cards .cards-card-footer {
  position: relative;
  margin: 0;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.cards .cards-card-image {
  line-height: 0;
  width: 100%;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards > ul > li:last-child:nth-child(odd) {
  grid-column: span 2;
}

@media (max-width: 835px) {
  .cards > ul {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .cards > ul > li {
    grid-row: auto;
    display: flex;
    flex-direction: column;
    grid-template-rows: none;
  }

  .cards > ul > li:last-child:nth-child(odd) {
    grid-column: span 1;
  }

  .cards .cards-card-title {
    margin-bottom: 1.5rem;
  }

  .cards .cards-card-header {
    padding: 2rem 2rem 0;
  }

  .cards .cards-card-content {
    padding: 0 2rem;
  }

  .cards .cards-card-footer {
    margin-top: 2.rem;
  }
}
