.revmed-hero-banner-container .revmed-hero-banner-wrapper {
  max-width: unset;
  padding: 0;
}

.revmed-hero-banner {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  overflow: hidden;
}

.hero-banner-content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-banner-content h1,
.hero-banner-content h2,
.hero-banner-content h3,
.hero-banner-content p {
  color: var(--background-color);
}

/* Image variation */
.revmed-hero-banner.image .hero-banner-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video variation */
.revmed-hero-banner.video .hero-banner-video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .revmed-hero-banner {
    padding: 40px 32px;
  }
}
