/* Normal weight */
@font-face {
    font-family: "FKDisplayALT";
    src: url("/fonts/FKDisplayALT.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bold weight */
@font-face {
    font-family: "FKDisplayALT";
    src: url("/fonts/FKDisplayALTBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Image Variant */

.revmed-hero-banner-wrapper {
    max-width: unset !important;
    padding: 0 !important;
    background-color: #0e4343;
    border-bottom-left-radius: 3rem;
}

.revmed-hero-banner .hero-image-wrapper .hero-image-container {
    position: relative;
    width: 100%;
    height: 24rem;
}

.revmed-hero-banner .hero-image-container img {
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 33%;
}

.revmed-hero-banner .hero-image-wrapper .hero-text-container * {
    padding: 0 10rem;
    color: #fff;
    font-family: "FKDisplayALT", "FKDisplayALT Fallback";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    margin-top: 3rem;
}

/* Video Variant */

.revmed-hero-banner .hero-video-container {
    position: relative;
    width: 100%;
    height: 24rem;
}

.revmed-hero-banner .hero-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.revmed-hero-banner
    .hero-video-wrapper
    .hero-video-container
    .hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

@media (width >= 96rem) {
    .revmed-hero-banner .hero-image-container {
        height: 40rem;
    }
}
