.revmed-hero-banner-wrapper {
    max-width: unset !important;
    padding: 0 !important;
    background-color: #0e4343;
    border-bottom-left-radius: 3rem;
}

.revmed-hero-banner .hero-image {
    position: relative;
    width: 100%;
    height: 24rem;
}

.revmed-hero-banner .hero-image img {
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 33%;
}

.revmed-hero-banner .hero-text {
    padding: 0 10rem;
    color: #fff;
}

.revmed-hero-banner .hero-text h1 {
    font-family: "FKDisplayALT", "FKDisplayALT Fallback";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    margin-top: 3rem;
}

.revmed-hero-banner .hero-video-container {
    position: relative;
    width: 100%;
    height: 24rem;
}

.revmed-hero-banner .hero-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.revmed-hero-banner
    .hero-video-wrapper
    .hero-video-container
    .hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (width >= 96rem) {
    .revmed-hero-banner .hero-image {
        height: 40rem;
    }
}
