.revmed-hero-banner {
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  display: grid;
  grid-row: span 3 / span 3;
  grid-column: 1 / -1;
  position: relative;
  grid-column: full-bleed-start / full-bleed-end;
  max-width: 100%;
}

.revmed-hero-banner .hero-image {
  position: relative;
  width: 100%;
  height: 24rem;
  overflow: hidden;
  background-color: var(--primary);
}

.revmed-hero-banner .hero-image img {
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 33%;
}

.revmed-hero-banner .hero-text {
  margin-top: 2rem;
  text-align: center;
}

@media (width >= 96rem) {
  .revmed-hero-banner .hero-image {
    height: 40rem;
  }
}

.revmed-hero-banner .hero-text p {
  font-family: 'familyFKDisplayALT', "FKDisplayALT Fallback";
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  margin-top: 3rem;
}