.spacer-wrapper.spacing-xs {
  padding-bottom: 1rem;
}

.spacer-wrapper.spacing-sm {
  padding-bottom: 2rem;
}

.spacer-wrapper.spacing-md {
  padding-bottom: 3rem;
}

.spacer-wrapper.spacing-lg {
  padding-bottom: 6.5rem;
}

/* Dark Green style */
main .spacer-wrapper.dark-green {
  background-color: #0e4343;
}

/* Light Green style */
main .spacer-wrapper.light-green {
  background-color: #d3eae5;
}

/* Green style */
main .spacer-wrapper.green {
  background-color: #059669;
}

/* Light Grey style */
main .spacer-wrapper.light-grey {
  background-color: #f5f8f9;
}

main .spacer-wrapper.top-left-round {
  border-top-left-radius: 2rem;
  margin: unset;
  max-width: unset;
}

main .spacer-wrapper.top-right-round {
  border-top-right-radius: 2rem;
  margin: unset;
  max-width: unset;
}

main .spacer-wrapper.bottom-left-round {
  border-bottom-left-radius: 2rem;
  margin: unset;
  max-width: unset;
}

main .spacer-wrapper.bottom-right-round {
  border-bottom-right-radius: 2rem;
  margin: unset;
  max-width: unset;
}