/* header and nav layout */
.header-wrapper {
  position: fixed;
    z-index: 30;
    margin-top: 1.75rem;
}

header .nav-wrapper {
  width: 100%;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / 1fr auto auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: 4rem;
  padding: 0 24px;
  font-family: var(--body-font-family);
  background: #fff;
  border-radius: 1rem;

}

header nav[aria-expanded='true'] {
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / 1fr auto;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

@media (width <= 1280px) {
  header nav {
    margin: 0 0.5rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  /* flex: 1 1 auto; */
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
  display: none;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

.link-separator {
  height: calc(var(--spacing) * 0.5);
  width: 100%;
  background-color: #13d377;
  opacity: 0.7;
}

@media (width >= 900px) {
  .link-separator {
    display: none;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover {
    color: unset;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 64px);
    max-width: 1264px;
    top: calc(var(--nav-height) + 1.75rem);
    padding: 24px 32px;
    background-color: #0e4343;
    color: white;
    white-space: initial;
    margin: 0 auto;
    gap: 24px;
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out 0.15s, transform 0.3s ease-in-out 0.15s, visibility 0s 0.45s;
    box-sizing: border-box;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 16px;
    flex: 0 0 auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li:hover {
    background-color: #1a6b6b;
    border-radius: 0.5rem;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li a {
    text-decoration: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li:hover a {
    text-decoration: none;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

.nav-tools {
  max-width: 1248px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0.5rem;
}

.nav-tools a {
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  gap: 0.5rem;
  color: #0e4343;
}


.nav-tools ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-tools ul li a {
  color: #fff;
}

@media (width >= 900px) {
  header .nav-wrapper .nav-tools {
    max-width: 1264px;
  }
}

@media (width <= 1280px) {
  header .nav-wrapper .nav-tools {
    margin-right: 0.5rem;
  }
}