.anchor-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0.8125rem 1rem 0.8125rem 1.5rem;
    gap: 0.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    max-width: 22.1875rem;
    cursor: pointer;
    color: inherit;
}

.anchor-menu__icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin: 0.375rem;
}

.anchor-menu__text {
    font-family: Assistant, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.125rem;
}

.anchor-menu__link.bg-yellow {
    background-color: #ffb718;
    border: 0.8px solid #ffb718;
    color: #253958;
}

.anchor-menu__link.bg-red {
    background-color: #c1443b;
    border: 0.8px solid #c1443b;
    color: #fff;
}

.anchor-menu__link.bg-yellow:hover {
    color: #000;
    background-color: #ffc23b;
    border-color: #ffbe2f;
    text-decoration: none;
}

.anchor-menu__link.bg-red:hover {
    color: #c1443b;
    background-color: #fff;
    text-decoration: none;
}

/* Button Grid */

.button-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5rem 0;
    gap: 1.125rem;
}

.button-grid .icon-button-wrapper {
    margin: 0;
    padding: 0;
}

.button-grid .anchor-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    max-width: 23.0625rem;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5625rem 2.25rem;
    transition: 0.4s;
    cursor: pointer;
    gap: 0;
}

.button-grid .anchor-menu__icon {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: 0 0 0 0.625rem;
}

.button-grid .anchor-menu__text {
    font-family: Assistant, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.0625rem;
}

.button-grid .bg-yellow {
    background-color: #ffb718;
    border: 2px solid #ffb718;
    color: #253958;
}

.button-grid .bg-red {
    background-color: #c1443b;
    border: 2px solid #c1443b;
    color: #fff;
}

.button-grid .anchor-menu__link:hover {
    text-decoration: none;
    background: #fff;
    color: #c1443b;
}

.button-grid .anchor-menu__link:hover .anchor-menu__icon {
    color: #ffb718;
}

@media (max-width: 768px) {
    .anchor-menu__text {
        font-size: 1.125rem;
    }

    .button-grid {
        gap: 0.25rem;
        flex-direction: column;
        padding: 0.625rem 0 0.375rem;
    }

    .button-grid .anchor-menu__text {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }
}
