.icon-button-series {
    display: flex;
    gap: 1.12rem;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-button-series__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0 2.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    max-width: 22.1875rem;
    cursor: pointer;
}

.icon-button-series__icon {
    width: 2.3125rem;
}

.icon-button-series__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Assistant, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
}

.bg-yellow {
    background-color: #ffb718;
    border: 0.8px solid #ffb718;
}

.bg-yellow .icon-button-series__link {
    color: #253958;
}

.bg-red {
    background-color: #c1443b;
    border: 0.8px solid #c1443b;
}

.bg-red .icon-button-series__link {
    color: #fff;
}
