footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer picture img {
  width: 12rem !important;
  height: auto;
}

footer a {
  color: #ffffff !important;
  text-decoration: underline;
}

footer .columns {
  padding: 3.5rem 0;
}

footer .columns div div:nth-child(2) p {
  font-size: 1.15rem;
}

footer .columns div div:nth-child(2) p:nth-child(1) {
  padding-bottom: 1rem;
}

footer .columns div div:nth-child(2) {
  text-align: right;
}

.footer-wrapper .footer.block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: #fff;
  position: relative;
  margin-top: -3rem;
  z-index: 1;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

@media (width <=900px) {
  footer .columns-wrapper .columns div {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  footer .columns div div:nth-child(2) {
    text-align: center;
  }
}